:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2{
  font-size: 100px;
  font-weight: 900;
}

a{
  text-decoration: none;
  color: whitesmoke;
  font-weight: 600;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;

}

nav{
  display: flex;
  gap: 10px;
}

a .active{
  color:"red";
}

.video {
  margin-top: 100px;
  background-color: #ccc;
  width: fit-content;
  border-radius: 20px;
}